.cabecalho {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;
}

.navegacao{
    max-width: 100px;
    width: 60%;
}

.navegacao__lista{
    align-items: center;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navegacao__itens {
    margin-right: 3rem;
}

.cabecalho__logo{
    display: none;
}

.feed {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    padding-top: 4rem;
}

footer{
    background-color: var(--verde);
    z-index: 1;
}

.rodape {
    align-items: center;
    color: var(--branco);
    display: flex;
    height: 104px;
    justify-content: center;
}
 
@media (min-width: 768px) {
    .navegacao{
        max-width: 300px;
        width: 60%;
    }

    .cabecalho__logo{
        display: inline-block;
    }

    .feed{
        padding-top: 8rem;
    }
}

@media (min-width: 1440px) {
    .feed{
        padding-top: 0;
    }
}