.container__home{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.secao__conteudo{
    width: 100%;
}

.home__conteudo {
    margin: 0 auto;
    text-align: center;
    width: 268px;
}

.logo {
    height: 46px;
}

.home__titulo {
    color: var(--branco);
    font-family: var(--fonte-secundaria);
    font-size: 26px;
    line-height: 48px;
    padding-top: 1rem;
}

.home__texto--mobile {
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 1rem 0;
}

.home__texto {
    display: none;
}

.container__ilustracao{
    align-items: flex-end;
    display: flex;
    justify-content: center;
    width: 88vw;
}

.ilustracao {
    height: 313px;
    position: relative;
    top: 1.2rem;
}

@media (min-width: 768px) {
    .logo {
        height: 62px;
    }

    .home__conteudo {
        width: 344px;
    }

    .home__texto--mobile {
        display: none;
    }
    
    .home__texto {
        display: block;
        font-style: normal;
        font-size: 18px;
        line-height: 26px;
        padding: 1rem 0;
    }

    .container__ilustracao{
        width: 95vw;
    }
    
    .ilustracao {
        height: 422px;
    }
}

@media (min-width: 1440px){
    .logo {
        height: 64px;
    }

    .home__conteudo {
        width: 488px;
    }

    .container__ilustracao{
        width: 97vw;
    }
    
    .ilustracao {
        height: 432px;
    }
}