.secao__cadastro {
    text-align: center;
}

.cadastro__conteudo--titulo {
    color: var(--azul);
    line-height: 21px;
    padding-top: 1.5rem;
    text-align: center;
}

.cadastro__conteudo--texto {
    color: var(--azul);
    line-height: 21px;
    margin: 0 auto;
    padding: .5rem 0;
    width: 312px;
}

.formulario {
    color: var(--cinza);
    padding-top: 1rem;
}

.botao__desktop{
    display: none;
}

@media (min-width: 1440px){
    .botao__desktop{
        display: block;
    }

    .botao__mobile{
        display: none;
    }
}