.botao__sair{
    align-items: center;
    background-color: var(--vermelho);
    border: solid 1px var(--vermelho);
    border-radius: 2px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    color: var(--branco);
    cursor: pointer;
    display: flex;
    font-family: var(--fonte-principal);
    justify-content: center;
    text-decoration: none;
    width: 100%;
}