.login__imagem--lateral {
    background-image: url(../../images/vetor_lateral.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 435px;
    left: 0;
    position: absolute;
    top: 33vh;
    transform: scaleX(-1);
    width: 75px;
}

.login__conteudo {
    text-align: center;
}

.login__conteudo--titulo {
    color: var(--azul);
    line-height: 21px;
    padding: 1.5rem 0;
    text-align: center;
}

.login__conteudo--texto {
    color: var(--azul);
    line-height: 21px;
    margin: 0 auto;
    padding: .5rem 0;
    width: 312px;
}

.login__formulario {
    color: var(--cinza);
    height: 58vh;
    padding-top: 1rem;
    text-align: center;
}

.lembrar__senha {
    color: var(--vermelho);
    font-size: 12px;
    line-height: 24px;
}

.texto__lembrar{
    padding-bottom: 2rem;
}

@media (min-width: 768px) and (orientation: landscape) {
    .login__formulario {
        height: auto;
    }
}

@media (min-width: 768px) {
    .login__imagem--lateral {
        height: 655px;
        left: unset;
        position: absolute;
        right: 0;
        top: 20vh;
        transform: scaleX(1);
        width: 110px;
    }
}

@media (min-width: 1440px) {
    .login__formulario {
        height: 65vh;
    }
}