@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Poppins&display=swap');

:root {
  --azul: #3772FF;
  --branco: #FFFFFF;
  --cinza: #737380;
  --cinza-claro: #F6F6F6;
  --creme: #FCF0E3;
  --verde: #36D6AD;
  --vermelho: #FC7071;
  --fonte-principal: 'Poppins', sans-serif;
  --fonte-secundaria: 'IBM Plex Sans', sans-serif;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root > main.conteudo{
  background-image: url('./assets/images/vetor_topo.svg'), url('./assets/images/linha_superior.svg'), url('./assets/images/vetor_lateral.svg');
  background-position: top left, top left, center right;
  background-repeat: no-repeat;
  color: var(--branco);
  display: flex;
  font-family: var(--fonte-principal);
  flex-direction: column;
  min-height: 100vh;
}

.fundo__azul{
  background-color: var(--azul);
}

.fundo__branco{
  background-color: var(--branco);
}

@media (min-width: 768px){
  .bg__azul {
    background-size: 530px 435px, 560px 469px, 135px 664px;
  }

  .bg__branco {
    background-size: 530px 435px, 560px 469px, 135px 664px;
  }
}