/* body {
    background-color: var(--branco);
    background-image: url('../images/pata_um.svg'),
        url('../images/pata_dois.svg'),
        url('../images/pata_tres.svg'),
        url('../images/vetor_topo.svg'),
        url('../images/linha_superior.svg'),
        url('../images/vetor_esquerdo.svg');
    background-position: right top, right 6vh, 36vh top, left top, left top, left 50vh;
    background-repeat: no-repeat;
    color: var(--cinza);
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-principal);
    min-height: 100vh;
} */
/* 
.conteudo {
    flex-grow: 1;
    height: 650px;
    margin: 0 auto;
    padding-top: 2rem;
    text-align: center;
    width: 90%;
}

.conteudo__texto {
    color: var(--azul);
    font-size: 16px;
    line-height: 21px;
    margin: 3rem auto 2rem auto;
    padding: .5rem 0;
    text-align: center;
    width: 80%;
}

.formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

label {
    display: block;
    margin-bottom: .5rem;
    width: 100%;
}

input {
    background: var(--cinza-claro);
    border: none;
    border-radius: 6px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    margin-bottom: 1rem;
    height: 40px;
    text-align: center;
    width: 312px;
}

input::placeholder {
    font-size: 12px;
}

.icone__olho {
    border: none;
    color: var(--cinza);
    outline: none;
    position: absolute;
    right: 10px;
    top: 14px;
    z-index: 10;
}

.input__senha {
    position: relative;
    width: 312px;
}

.input__senha input {
    width: 100%;
}

.container__botao {
    width: 100%;
}

.esqueceu__senha {
    color: var(--vermelho);
    font-size: 12px;
    line-height: 24px;
    height: 24px;
    width: 100%;
}

.botao {
    align-items: center;
    background-color: var(--vermelho);
    border: solid 1px var(--vermelho);
    border-radius: 6px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    color: var(--branco);
    display: flex;
    font-family: var(--fonte-principal);
    justify-content: center;
    height: 40px;
    margin: 1rem auto 6rem auto;
    text-decoration: none;
    width: 180px;
}

@media (min-height: 800px) {
    body {
        background-position: right top, right 5vh, 31vh top, left top, left top, left 40vh;
    }
}

@media (min-width:400px) and (orientation: landscape) {
    body {
        background-position: right top, right 6vw, 80vw top, left top, left top, left 90vh;
    }
}

@media (min-width:800px) and (orientation: landscape) {
    body {
        background-position: right top, right 5vw, 85vw top, left top, left top, left 78vh;
    }
} */