.patas{
    background-image: url('../../images/Patas.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 165px;
    position: absolute;
    right: 0;
    top: 0;
    width: 165px;
}

@media (min-width: 768px){
    .patas{
        height: 220px;
        width: 220px;
    }
}

@media (min-width: 1440px){
    .patas{
        height: 240px;
        width: 240px;
    }
}