.foto__perfil, .foto__perfil--semFoto{
    border-radius: 50%;
    cursor: pointer;
    height: 80px;
    margin: 1rem auto 0 auto;
    width: 80px;
}

.foto__perfil--semFoto{
    background: url('../../images/user.svg') no-repeat center;
    background-size: cover;
}