.foto__perfil {
    border-radius: 50%;
    cursor: pointer;
    height: 80px;
    margin: 1rem auto 0 auto;
    width: 80px;
}

.foto__perfil--padrao {
    background: url('../../images/usuario.png') no-repeat center;
    border-radius: 50%;
    cursor: pointer;
    height: 80px;
    margin: 1rem auto 0 auto;
    width: 80px;
}